<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image1</key>
	<string>https://upload.wikimedia.org/wikipedia/ru/8/82/IPhoto_Icon.png</string>
	<key>image2</key>
	<string>http://www.petrominpng.com.pg/images/logo_big.png</string>
	<key>image3</key>
	<string>http://www.eatlogos.com/alphabet_logos/png/vector_a_ship_letter_logo.png</string>
	<key>image4</key>
	<string>http://www.euvotodistrital.org.br/wp-content/uploads/2012/09/evd.hashtag.png</string>
	<key>image5</key>
	<string>http://pngimg.com/upload/plane_PNG5228.png</string>
	<key>image6</key>
	<string>https://upload.wikimedia.org/wikipedia/commons/9/91/Adium.png</string>
	<key>image7</key>
	<string>http://cdn.appstorm.net/mac.appstorm.net/authors/pauladupont/duck.jpg</string>
	<key>image8</key>
	<string>http://www.fordesigner.com/imguploads/Image/cjbc/zcool/png20080526/1211812418.png</string>
	<key>image9</key>
	<string>http://i40.tinypic.com/117h5xe.jpg</string>
	<key>image10</key>
	<string>http://cliparts.co/cliparts/5TR/enk/5TRenkXLc.png</string>
	<key>image11</key>
	<string>https://upload.wikimedia.org/wikipedia/ru/0/04/Luigi_(Mario_Party_DS).png</string>
	<key>image12</key>
	<string>http://pngimg.com/upload/horse_PNG2538.png</string>
	<key>image13</key>
	<string>http://counter-strike.cn.ua/DreamHC/pictures/other/new-year/horse/white-horse-new-year-white.png</string>
	<key>image14</key>
	<string>http://static-dc.autodesk.net/content/dam/autodesk/www/homepage/fy16/right_hand.png</string>
	<key>image15</key>
	<string>http://www.dhresource.com/0x0s/f2-albu-g3-M00-9E-F5-rBVaHFWLviyASeikAACD5TFmqtE161.jpg/2pcs-hot-sexy-girl-logo-car-emblems-3d-bicycle.jpg</string>
	<key>image16</key>
	<string>https://upload.wikimedia.org/wikipedia/en/9/95/Airwolf_3D_logo.jpg</string>
	<key>image17</key>
	<string>http://static-dc.autodesk.net/content/dam/autodesk/www/homepage/fy16/left_hand.png</string>
	<key>image18</key>
	<string>http://pre13.deviantart.net/5195/th/pre/i/2012/329/f/2/hanging_lamp_png_by_paradise234-d5m4xeq.png</string>
	<key>image19</key>
	<string>http://www.memorialdusoldatinconnu.fr/images/memorial/embellishments/bougies/lanterne.png</string>
	<key>image20</key>
	<string>http://icons.iconseeker.com/png/fullsize/fruity-apples/seablue-512.png</string>
</dict>
</plist>
